/* #f6fbff
#2547ac
#0e2056
#378cbc */

.container{
    margin: 0 auto;
    max-width: 900px;
}

.flex{
    display: flex;
}

.profile-window{
    max-width: 350px;
    margin: 0 auto;
    box-shadow: 0px 5px 20px 7px rgba(0, 0, 0, 0.16);
    border-radius: 5%;
}

.profile-picture{
    display: flex;
    height: 470px;
    background-color: inherit;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5%;
    display: hidden;
}

.profile-picture img{
    object-fit: contain;
    background-color: #000;
    border-radius: 5%;
}

.match-indicator{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    background-color: rgb(230, 72, 72);
    color: #fff;
    width: 100%;
    border-radius: 5%;
    overflow: hidden;
}

.profile-content{
    padding: 0 1rem;
    margin: 0 auto;
}

.profile-name, .profile-age{
    font-size: 1.3rem;
    margin-right: .5rem;
}

.profile-age{
    font-size: 1.2rem;
}

.profile-bio{
    margin-top: .5rem;
    overflow-y: scroll;
    line-height: 1.45;
    height: 180px;
    padding-bottom: 1rem;
    padding-right: .2rem;
    font-size: .9rem;
}

.profile-bio::-webkit-scrollbar{
    background-color: #fff;
    width: 10px;
}

.profile-bio::-webkit-scrollbar-thumb{
    background-color: #e64848;
    border-radius: 7px;
}

.profile-buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.like-btn, .dislike-btn{
    width: 100px;
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    color: rgb(230, 72, 72);
    border: 2px solid rgb(230, 72, 72);
    transition: all .3s;
}

.like-btn:hover, .dislike-btn:hover{
    background-color: rgb(230, 72, 72);
    color: #fff;
    cursor: pointer;
}

.like-btn:focus, .dislike-btn:focus{
    outline: none;
}

.like-btn:active, .dislike-btn:active{
    transform: scale(.9);
}

.pulse{
    animation: pulse .7s ease infinite;
}

.slide-down{
    animation: slide-down .8s .5s ease-in forwards;
}